---
layout: default
title: Life & Works of Ravigopal Kesari
nav: home
---


<div class="hey" style="padding-top:10px;">
  <h1><strong>Software engineer</strong>,
    writes code for bread,
    clicks <a href="http://photos.ravigopalkesari.com/">photographs</a>
    and makes little <a href="http://youtube.com/rvgpl/">videos</a> for butter.
    </h1>
</div>

<div class="list">
  <small>Recent posts</small>
    {% for post in site.posts limit:2 %}
    <article class="post {{ post.category | downcase }}">
      <h2 class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      {% if post.introduction %}
        <p class="post-introduction">{{ post.introduction }}</p>
      {% endif %}
    </article>
  {% endfor %}
</div>

<footer class="footer">
  <p>2015 | <a href="/colophon">Colophon</a>.</p>
</footer>
