---
layout: default
title: Life & Works of Ravigopal Kesari
nav: home
---


<div class="hey">
  <h1>Designer based in Bengaluru with expertise in front-end wizardry.</h1>
</div>

<div class="list">
  <small>Recent posts</small>
    {% for post in site.posts limit:3 %}
    <article class="post {{ post.category | downcase }}">
      <h2 class="post-title">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </h2>
      {% if post.introduction %}
        <p class="post-introduction">{{ post.introduction }}</p>
      {% endif %}
    </article>
  {% endfor %}
</div>

<footer class="footer">
  <nav class="nav">
    <ul>
      <li><a href="/journal">Journal</a></li>
      <li><a href="http://flickr.com/photos/rvgpl/">Photography</a></li>
      <li><a href="http://rvgpl.tumblr.com">Tumblr</a></li>
    </ul>
  </nav>
  <p>2016 &nbsp; | &nbsp; <a href="/colophon">Colophon</a></p>
</footer>
