---
layout: default
title: Journal - Ravigopal Kesari
nav: Journal
---

<div class="articles">

  <div class="list">
      {% for post in site.posts %}
      <article class="post {{ post.category | downcase }}">
        <p class="post-info">
          <em class="post-date">{{ post.date | date_to_string }}</em>
          <strong class="post-category">{{ post.category }}</strong>
        </p>
        <h2 class="post-title">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        {% if post.introduction %}
          <p class="post-introduction">{{ post.introduction }}</p>
        {% endif %}
      </article>
    {% endfor %}
  </div>
</div>
