

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td{ margin: 0; padding: 0;}
table{ border-collapse: collapse; border-spacing: 0;}
fieldset, img{ border: 0; max-width: 100%;}
address, caption, cite, code, dfn, var{ font-style: normal; font-weight: normal;}
ol, ul{ list-style: none;}
caption, th{ text-align: left;}
h1, h2, h3, h4, h5, h6{ font-size: 100%; font-weight: normal;}
q:before, q:after{ content: '';}
abbr, acronym{ border: 0;}

/*

14  242424
29  4a4a4a
48  7a7a7a
71  b5b5b5
86  dbdbdb
93  ededed
96  f5f5f5

*/

html{ font-size: 22px; height: 100%; overflow-y: scroll;}
body{ background: whitesmoke; font: 1em/1.7  'Josefin Sans', sans-serif; color: #4a4a4a; margin: 0 auto; padding: 3em 5em 5em 10em; position: relative; width: 43em;}
a{ border-bottom: 2px solid #ededed; color: #387B8C; cursor: pointer; text-decoration: none;}
a:visited{ color: #93a1a1;}
a:hover{ border-bottom-color: #387B8C;}
img{ max-width: 100%;}

.post-introduction,
.post-content,
.ideas p,
.item h3,
.item p,
.item ul{ font-family: 'Josefin Sans', Arial, sans-serif;}
.post-content h2,
.post-content h3{ font-family: 'Josefin Sans', sans-serif;font-weight:600;text-transform:uppercase;letter-spacing:0.1rem;}

.header{ height: 6rem; position: relative;}
.header h1{ font-family: 'Josefin Sans', sans-serif;font-size:1.5rem;font-weight:600;letter-spacing:0.1rem;text-transform:uppercase;}
.header h1 a{border-bottom:none;color:#444444;}
.logo{ border-bottom: none;  height: 6rem; left: -8rem; position: absolute; top: 0;}
.home { font-size:1.5rem; line-height:2rem; font-weight:600; border-bottom:none;}
.nav{ font-size: 1.3125rem; line-height: 2rem; padding: 2rem 0;}
.nav li{ display: inline; margin-right: 2rem;}
.nav a{ color: #93a1a1;}
.nav a:hover{ color: #4a4a4a;}
.nav .home a{border-bottom:none;}
.nav .here a{ border-bottom: none; color: #4a4a4a;}
.icons{ position: absolute; right: 5rem; text-align: right; top: 4.5rem;}
.icons li{ display: inline;}
.icons a{ border-bottom: none; color: #93a1a1; display: inline-block; float: left; font-size: 1.2rem; height: 2rem; line-height: 2rem; text-align: center; width: 2rem;}
  .icons a:hover{ color: #4a4a4a;}
  .icons .twitter:hover{ color: #55acee;}
  .icons .github:hover{ color: #333;}
  .icons .dribbble:hover{ color: #EA4C89;}
  .icons .instagram:hover{ color: #B27D5D;}


.hey,
.title{ font-size: 1.8125rem; line-height: 1.25; margin-top: 3rem;}
.hey strong,
.title strong{ color: #444;}
.hey span,.title span,.skills span,
.hey a{ /*color: #db4e44;*/color:#387B8C}
.skills{ margin-top:2rem;}
.skills p{ font-size:1.3rem; margin-bottom:1rem;}
.gallery,.footer{ color: #b5b5b5; margin-top: 5rem;}
.gallery li{ display: inline-block; height: 4rem; line-height: 4rem; margin-right: 2rem; vertical-align: middle;}
.gallery img{ vertical-align: middle;}


.footer p{ font-size:0.7rem;}
.footer a{ color: #b5b5b5;}
.footer a:hover{ color: #4a4a4a;}


.list{ position: relative;margin-top:3rem;}
.list small{font-size:0.7rem;color:#b5b5b5;}
.articles{ margin-top:3rem;}
.articles hr{ border: none; height: 2rem;}


.post{ margin-bottom: 1.5rem; position: relative;padding:1rem; border-bottom:1px solid #b5b5b5;}
.post-info{ color: #dbdbdb; float: right; font-size: 0.875rem; margin: 0.2rem 0 0 2em; text-align: right;}
.post-date, .post-category{ display: block;}
.post-title{ font-size: 1.5rem; line-height: 1.125;letter-spacing:0.1rem;}
.post-title a{ border-bottom: none; color: #4a4a4a;}
.post-title a:visited{ color: #93a1a1;}
.post-title a:hover{ color: #387B8C;}
.post-introduction{ color: #93a1a1; font-size: 0.875rem; margin-top: 0.25em;}

.colophon p{margin-top:2rem;}
.articles .post:hover .post-info,
.single .post-info:hover{ color: #444444;}

.single{ margin-top: 3rem; position: relative;}
.single .post-title{ color: #444444; font-size: 2rem; font-weight: bold; line-height: 1.125;text-transform:uppercase;letter-spacing:0.1rem;}
.single .post-introduction{ font-size: 1.1rem; margin: 0.1rem 0 3rem;}
.single .post-info,
.post-back{ font-size: 0.875rem; line-height: 1.5rem; position: absolute; right: 45rem; text-align: right; width: 8rem;}
.single .post-info{ margin: 1px 0 0;}
.post-back a{ color: #dbdbdb;}
.post-back a:hover{ color: #4a4a4a;}
.post-back span{ font-size: 11px; margin-right: 2px;}

.post-content{ color: #444444;}
.post-content h2{ font-size: 1.8125rem; font-weight: bold; line-height: 1.125; margin-top: 2em;letter-spacing:0.1rem;text-transform:uppercase;}
.post-content h3,
.subtitle{ font-size: 1.5rem; font-weight: bold; line-height: 1.125; margin-top: 2em;text-transform:uppercase;}
.post-content p{ margin: 1em 0;}
.post-content ul,
.post-content ol{ margin: 1em 0 1em 1.5em;list-style: disc;}
/*.post-content figure{ margin: 2em; text-align: center;}
.post-content figcaption{ color: #93a1a1; font-size: 0.8125rem; margin-top: 1em;}
.post-content figure img{max-width:80%;}*
.post-content ul li{ position:relative;}
/*.post-content ul li:before{ color: #93a1a1; content: '-'; left: -1.25rem; position: absolute; top: 4px;}*/
.post-content blockquote{ border-left: 4px solid #387B8C; color: #7a7a7a; font-style: italic; margin: 2rem 0; padding: 0 2rem;}
.post-content blockquote p{ margin: 0;}
.post-content table{ font-size: 0.875rem; width: 100%;}
.post-content th,
.post-content td{ border: 1px solid #dbdbdb; padding: 0.5rem;}
.post-content th{ background: #f5f5f5; color: #7a7a7a;}
.post-content td{ background: #fafafa;}
.post-content .empty{ background: none; border: none;}
.post-content pre,
.post-content code,
.ideas code{ background: #eee8d5; color: #586e75; font-size: 0.8125rem; padding: 1px 4px 2px;}
.post-content code,
.ideas code{ position: relative; top: -2px;}
.post-content pre{ padding: 1rem;}

.ideas p{ margin: 1em 0;}

.projects{ margin-top:3rem;}
.tabs{ padding: 2rem 0;}
.tabs li{ display: inline;}
.tabs a{ display: inline-block; vertical-align: top;}

.item{ border-bottom: 1px solid #b5b5b5; min-height: 220px; padding: 2rem 0 2rem 2rem; position: relative;}
.item:after{ clear: both; content: ''; display: block;}
.item span{ color: #93a1a1; font-size: 1.5rem; font-weight: bold; line-height: 1.125; margin-right: 2rem; position: absolute; right: 100%; text-align: right; top: 2rem;}
/*.item img{ float: left; left: 0; max-width: 220px; position: absolute; top: 2rem;}*/
.item img{max-width:80%; padding-top:1rem; padding-bottom:1rem;}
.item h2{ color: #444444; font-size: 1.5rem; font-weight: bold; line-height: 1.125;}
.item h3{ color: #93a1a1; font-size: 0.875rem; margin-top: 0.25em;}
.item p{ font-size: 1rem; margin-top: 1em;}
.item ul{ font-size: 1rem; list-style: outside disc; margin: 1em 2em;}



.logo{ z-index: 1986;}
.tooltip{ z-index: 200;}
.post{ z-index: 100;}

a,
.post-info{ transition: 50ms ease-out; transition-property: border-color, color;}
.tooltip{ transition: opacity 125ms ease-out;}

@media (max-width: 1159px) {
  html{ font-size: 20px;}
  .icons{right: 5rem;  top: 5rem;}
}

@media (max-width: 929px) {
  body{ padding: 2rem 1rem 5rem; margin: 0; width: auto;}
  .header{ height: auto; text-align: center;}
  .logo{ display: inline-block; position: static;}
  .nav{ display: block; padding: 1rem 0; text-align: center;}
  .nav li{ margin: 0 1rem;}
  .icons{ margin: 1rem 0; position: static; text-align: center;}
  .icons a{ float: none; font-size: 2rem; height: auto; margin: 0; width: auto;}
  .icons li{ padding:10px;}
  .gallery ul{ text-align: center;}
  .gallery li{ display: inline-block; margin: 0.5rem 1rem 0;}
  .clients li{ height: 4rem; line-height: 4rem;}
  .controls{ height: auto; text-align: center;}
  .controls ul{ display: inline-block; float: none; margin: 0 1rem 1rem;}
  .year,
  .season,
  .affix.year,
  .affix.season{ margin: 0; padding: 0; position: static; width: auto;}
  .articles hr{ display: none;}
  .post-star{ left: 0;}
  .recommended .post-title{ text-indent: 1.5rem;}
  .single{ margin-top: 2rem;}
  .single .post-introduction{ margin-bottom: 1rem;}
  .single .post-info, .post-back{ margin-bottom: 1rem; position: static; text-align: left; width: auto;}
  .single .post-info{ float: none;}
  .single .post-date, .single .post-category{ display: inline;}
  .single .post-category{ float: right;}
  .post-content pre{ white-space: pre-wrap;}
  .item{ padding-left: 0;}
  .item span{ display: block; float: right; margin: 0; position: static;}
  .item h3{ font-size: 1rem;}
  .item img{ display: block; float: none; margin-top: 1rem; max-width: none; position: static; width: 100%;}
  .item p,
  .item ul{ font-size: 1rem;}
}
/*Figure img tags - imported from  MinimalMistakes Theme*/
figure {
    margin: 0;
    *zoom: 1;
}

figure:before,figure:after {
    display: table;
    line-height: 0;
    content: "";
}

figure:after {
    clear: both;
}

figure img {
    display: block;
    margin-right: auto;
    margin-top:10px;
    margin-bottom: 10px;
    margin-left: auto;
}

figure a img {
    filter: none; /* IE6-9 */
    -webkit-filter: brightness(100%); /* Google Chrome & Safari 6+ */
}

figure a img:hover {
    filter: none;
    -webkit-filter: brightness(130%);
}

@media only screen and (min-width:43.75em) {
    figure.half img {
        float: left;
        width: 49%;
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

    figure.half figcaption {
        clear: left;
    }
}

@media only screen and (min-width:43.75em) {
    figure.third img {
        float: left;
        width: 32.3%;
        margin-right: 0.5%;
        margin-left: 0.5%;
    }

    figure.third figcaption {
        clear: left;
    }
}

figcaption {
    padding-top: 0.625rem;
    padding-bottom: 2.125rem;
    text-align: center;
    font-size: 0.875rem;
    font-style:italic;
}
