<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Ravigopal Kesari">
    <meta name="description" content="Life and works of Ravigopal Kesari">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Oxygen:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <header class="header">
      <h1><a href="/">Ravigopal Kesari</a></h1>
    </header>
    {{ content }}

  </body>
</html>
