<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>{{ page.title }}</title>
    <meta name="author" content="Ravigopal Kesari">
    <meta name="description" content="Life and works of Ravigopal Kesari">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/icons/icons.css" type="text/css">
    <link rel="stylesheet" href="/style.css" type="text/css">
  </head>
  <body>
    <header class="header">
      <h1><a href="/">Ravigopal Kesari</a></h1>
      <nav class="nav">
        <ul>
          <li{% if page.nav == 'articles' %} class="here"{% endif %}><a href="/articles">Articles</a></li>
          <li{% if page.nav == 'projects' %} class="here"{% endif %}><a href="/projects">Projects</a></li>
          <li{% if page.nav == 'photos' %} class="here"{% endif %}><a href="/photos">Photos</a></li>
        </ul>
      </nav>
      <ul class="icons">
        <li><a class="twitter" href="https://twitter.com/rvgpl" title="Twitter"><span class="icon-twitter"></span></a></li>
        <li><a class="github" href="https://github.com/rvgpl" title="Github"><span class="icon-github4"></span></a></li>
        <li><a class="dribbble" href="https://dribbble.com/rvgpl" title="Dribbble"><span class="icon-dribbble"></span></a></li>
        <li><a class="instagram" href="https://instagram.com/_rvgpl_" title="Instagram"><span class="icon-instagram"></span></a></li>
      </ul>
    </header>
    {{ content }}

  </body>
</html>
